<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" 
             Name="UnlockIt - Ultimate Achievement Tracker" 
             Language="1033" 
             Version="$(var.Version)" 
             Manufacturer="Mohamed Echbiy" 
             UpgradeCode="$(var.UpgradeCode)">
        
        <Package InstallerVersion="500" 
                 Compressed="yes" 
                 Comments="UnlockIt Installer Package"
                 Description="Ultimate Achievement Tracker for Gamers"
                 Keywords="Gaming, Achievement, Tracker, UnlockIt"
                 Manufacturer="Mohamed Echbiy"
                 Platform="x64"
                 InstallScope="perMachine" />

        <!-- Major Upgrade Configuration -->
        <MajorUpgrade AllowDowngrades="no" 
                      AllowSameVersionUpgrades="yes" 
                      DowngradeErrorMessage="A newer version of UnlockIt is already installed." 
                      Schedule="afterInstallInitialize" />

        <!-- Media and Cabinet Configuration -->
        <MediaTemplate EmbedCab="yes" />

        <!-- Properties -->
        <Property Id="ARPPRODUCTICON" Value="UnlockItIcon.exe" />
        <Property Id="ARPURLINFOABOUT" Value="https://github.com/Med-Echbiy/UnlockIt" />
        <Property Id="ARPURLUPDATEINFO" Value="https://github.com/Med-Echbiy/UnlockIt/releases" />
        <Property Id="ARPNOMODIFY" Value="1" />
        <Property Id="ARPNOREPAIR" Value="1" />
        <Property Id="ARPHELPLINK" Value="https://github.com/Med-Echbiy/UnlockIt/issues" />
        <Property Id="ARPCONTACT" Value="Mohamed Echbiy" />

        <!-- Directory Structure -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)" Name="PFiles">
                <Directory Id="APPLICATIONFOLDER" Name="UnlockIt" />
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="UnlockIt" />
            </Directory>
            <Directory Id="DesktopFolder" />
        </Directory>

        <!-- Main Application Component -->
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="UnlockItMainComponent" Guid="*" Win64="yes">
                <File Id="UnlockItExe" 
                      Source="$(var.BinPath)" 
                      KeyPath="yes" 
                      Checksum="yes">
                    <Shortcut Id="UnlockItDesktopShortcut"
                              Directory="DesktopFolder"
                              Name="UnlockIt - Achievement Tracker"
                              Description="Ultimate Achievement Tracker for Gamers"
                              WorkingDirectory="APPLICATIONFOLDER"
                              Icon="UnlockItIcon.exe"
                              IconIndex="0"
                              Advertise="yes" />
                    <Shortcut Id="UnlockItStartMenuShortcut"
                              Directory="ApplicationProgramsFolder"
                              Name="UnlockIt - Achievement Tracker"
                              Description="Ultimate Achievement Tracker for Gamers"
                              WorkingDirectory="APPLICATIONFOLDER"
                              Icon="UnlockItIcon.exe"
                              IconIndex="0"
                              Advertise="yes" />
                </File>
                
                <!-- Registry entries for app registration -->
                <RegistryValue Root="HKLM" 
                              Key="Software\Mohamed Echbiy\UnlockIt" 
                              Name="InstallPath" 
                              Type="string" 
                              Value="[APPLICATIONFOLDER]" 
                              KeyPath="no" />
                              
                <RegistryValue Root="HKLM" 
                              Key="Software\Mohamed Echbiy\UnlockIt" 
                              Name="Version" 
                              Type="string" 
                              Value="$(var.Version)" 
                              KeyPath="no" />
            </Component>
        </DirectoryRef>

        <!-- Start Menu Folder Component -->
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcutComponent" Guid="*" Win64="yes">
                <Shortcut Id="UninstallProduct"
                          Name="Uninstall UnlockIt"
                          Description="Uninstalls UnlockIt - Ultimate Achievement Tracker"
                          Target="[System64Folder]msiexec.exe"
                          Arguments="/x [ProductCode]" />
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
                <RegistryValue Root="HKLM" 
                              Key="Software\Mohamed Echbiy\UnlockIt\Shortcuts" 
                              Name="installed" 
                              Type="integer" 
                              Value="1" 
                              KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <!-- Features -->
        <Feature Id="MainApplication" 
                 Title="UnlockIt Application" 
                 Description="The main UnlockIt application and required files."
                 Level="1" 
                 ConfigurableDirectory="APPLICATIONFOLDER"
                 AllowAdvertise="yes"
                 Display="expand">
            <ComponentRef Id="UnlockItMainComponent" />
            <ComponentRef Id="ApplicationShortcutComponent" />
        </Feature>

        <!-- Icons -->
        <Icon Id="UnlockItIcon.exe" SourceFile="$(var.BinPath)" />

        <!-- Install Conditions -->
        <Condition Message="This application requires Windows 10 or higher.">
            <![CDATA[Installed OR (VersionNT >= 1000)]]>
        </Condition>

        <Condition Message="This application requires a 64-bit operating system.">
            <![CDATA[Installed OR VersionNT64]]>
        </Condition>

    </Product>
</Wix>
