<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" 
             Name="UnlockIt - Ultimate Achievement Tracker" 
             Language="1033" 
             Version="{{version}}" 
             Manufacturer="Mohamed Echbiy" 
             UpgradeCode="{{upgrade_code}}">
        
        <Package InstallerVersion="200" 
                 Compressed="yes" 
                 Comments="UnlockIt Installer Package"
                 Description="Ultimate Achievement Tracker for Gamers"
                 Keywords="Gaming, Achievement, Tracker, UnlockIt"
                 Manufacturer="Mohamed Echbiy"
                 Platform="x64"
                 InstallScope="perMachine" />

        <!-- Major Upgrade Configuration -->
        <MajorUpgrade AllowDowngrades="no" 
                      AllowSameVersionUpgrades="yes" 
                      DowngradeErrorMessage="A newer version of UnlockIt is already installed." 
                      Schedule="afterInstallInitialize" />

        <!-- Media and Cabinet Configuration -->
        <MediaTemplate EmbedCab="yes" />

        <!-- Custom Actions -->
        <Binary Id="UnlockItCA" SourceFile="UnlockItCustomActions.dll" />
        
        <!-- Properties -->
        <Property Id="ARPPRODUCTICON" Value="UnlockItIcon.exe" />
        <Property Id="ARPURLINFOABOUT" Value="https://github.com/Med-Echbiy/UnlockIt" />
        <Property Id="ARPURLUPDATEINFO" Value="https://github.com/Med-Echbiy/UnlockIt/releases" />
        <Property Id="ARPNOMODIFY" Value="1" />
        <Property Id="ARPNOREPAIR" Value="1" />
        <Property Id="ARPHELPLINK" Value="https://github.com/Med-Echbiy/UnlockIt/issues" />
        <Property Id="ARPCONTACT" Value="Mohamed Echbiy" />
        <Property Id="ARPSIZE" Value="{{estimated_size}}" />

        <!-- Launch Application Option -->
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch UnlockIt" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />

        <!-- Directory Structure -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="{{program_files}}" Name="PFiles">
                <Directory Id="APPLICATIONFOLDER" Name="UnlockIt">
                    <Directory Id="RESOURCESFOLDER" Name="resources" />
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="UnlockIt" />
            </Directory>
            <Directory Id="DesktopFolder" />
            <Directory Id="StartupFolder" />
        </Directory>

        <!-- Components -->
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="UnlockItComponent" Guid="{{component_guid}}" Win64="yes">
                <File Id="UnlockItExe" 
                      Source="{{app_exe}}" 
                      KeyPath="yes" 
                      Checksum="yes">
                    <Shortcut Id="UnlockItDesktopShortcut"
                              Directory="DesktopFolder"
                              Name="UnlockIt - Achievement Tracker"
                              Description="Ultimate Achievement Tracker for Gamers"
                              WorkingDirectory="APPLICATIONFOLDER"
                              Icon="UnlockItIcon.exe"
                              IconIndex="0"
                              Advertise="yes" />
                    <Shortcut Id="UnlockItStartMenuShortcut"
                              Directory="ApplicationProgramsFolder"
                              Name="UnlockIt - Achievement Tracker"
                              Description="Ultimate Achievement Tracker for Gamers"
                              WorkingDirectory="APPLICATIONFOLDER"
                              Icon="UnlockItIcon.exe"
                              IconIndex="0"
                              Advertise="yes" />
                </File>
                
                <!-- Registry entries for file associations and app registration -->
                <RegistryValue Root="HKCU" 
                              Key="Software\Mohamed Echbiy\UnlockIt" 
                              Name="InstallPath" 
                              Type="string" 
                              Value="[APPLICATIONFOLDER]" 
                              KeyPath="no" />
                              
                <RegistryValue Root="HKCU" 
                              Key="Software\Mohamed Echbiy\UnlockIt" 
                              Name="Version" 
                              Type="string" 
                              Value="{{version}}" 
                              KeyPath="no" />
            </Component>

            <!-- WebView2 Runtime Component -->
            <Component Id="WebView2Component" Guid="{{webview2_component_guid}}" Win64="yes">
                <Condition>NOT WEBVIEW2_VERSION</Condition>
                <File Id="WebView2Installer" 
                      Source="{{webview2_installer_path}}" 
                      KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <!-- Start Menu Folder Component -->
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcutComponent" Guid="{{shortcut_component_guid}}" Win64="yes">
                <Shortcut Id="UninstallProduct"
                          Name="Uninstall UnlockIt"
                          Description="Uninstalls UnlockIt - Ultimate Achievement Tracker"
                          Target="[System64Folder]msiexec.exe"
                          Arguments="/x [ProductCode]" />
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
                <RegistryValue Root="HKCU" 
                              Key="Software\Mohamed Echbiy\UnlockIt\Shortcuts" 
                              Name="installed" 
                              Type="integer" 
                              Value="1" 
                              KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <!-- Features -->
        <Feature Id="MainApplication" 
                 Title="UnlockIt Application" 
                 Description="The main UnlockIt application and required files."
                 Level="1" 
                 ConfigurableDirectory="APPLICATIONFOLDER"
                 AllowAdvertise="yes"
                 Display="expand">
            <ComponentRef Id="UnlockItComponent" />
            <ComponentRef Id="ApplicationShortcutComponent" />
            
            <Feature Id="WebView2Runtime"
                     Title="Microsoft Edge WebView2 Runtime"
                     Description="Required runtime for the application to function properly."
                     Level="1"
                     AllowAdvertise="no">
                <ComponentRef Id="WebView2Component" />
            </Feature>
        </Feature>

        <!-- Icons -->
        <Icon Id="UnlockItIcon.exe" SourceFile="{{app_exe}}" />

        <!-- UI Configuration -->
        <UIRef Id="WixUI_FeatureTree" />
        <UIRef Id="WixUI_ErrorProgressText" />

        <!-- Custom UI Modifications -->
        <UI>
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
            <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
        </UI>

        <!-- Launch Application Custom Action -->
        <Property Id="WixShellExecTarget" Value="[#UnlockItExe]" />
        <CustomAction Id="LaunchApplication"
                      BinaryKey="WixCA"
                      DllEntry="WixShellExec"
                      Impersonate="yes" />

        <!-- Install Conditions -->
        <Condition Message="This application requires Windows 10 or higher.">
            <![CDATA[Installed OR (VersionNT >= 1000)]]>
        </Condition>

        <Condition Message="This application requires a 64-bit operating system.">
            <![CDATA[Installed OR VersionNT64]]>
        </Condition>

    </Product>
</Wix>
